<!DOCTYPE html>
<html lang="en">
<head>
<title>Crunch playlist search music</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
 <script src="https://kit.fontawesome.com/8a15c38d9e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link href="css/style.css" type="text/css" rel="stylesheet">
<!--  -->


<!-- Bootstrap css -->
<link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
      <!-- Hedare Tag -->
      
<!-- header section -->
<header class="navbar-light navbar-fixed-top">
    <div class="container px-md-0">
             <nav class="navbar navbar-expand-lg navbar-light px-0 py-3">
  <a class="navbar-brand" href="index.html"><img src="images/playListLogo.png" alt="IMG" class="img-fluid main_logo"></a>
        <div class="ml-auto">
           <ul class="toggle_switch">
         <li class="tog_icon2">
             <div class="dropdown w-100 mb-3 mb-md-0">
          <button class="btn person w-100 dropdown-toggle newdrop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <div class="user_icon"> <span class="usernme mb-0"> User Name </span> <span class="customers-profile"> <i class="fas fa-user cust_dp" aria-hidden="true"></i></span> </div>
            </button>
           <div class="dropdown-menu" id="user_menu_subparent" aria-labelledby="dropdownMenuButton">
           <a class="item_subparnt dropdown-item" href="index.html">Account Settings</a>
         <a class="item_subparnt dropdown-item" href="term_n_condition_screen.html">FAQ</a>
       <a class="item_subparnt dropdown-item" href="index.html">Sign Out</a>
         </div>
   </div>
  </li>
    </ul>
  </div>
    </nav>
    </div>
    </header>

      
        


<div class="overflow-hidden">

<section class="second_section my-5 pb-md-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="discover_para mb-0"> Discover playlists for your music</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">

      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 col-sm-12 col-12 input_code">
          <div class="jkh">
            <input class="effect-2" type="text" placeholder="Type any Music Genre, Similar Artists, Song Names or Hashtags">
           <span class="focus-border"></span>
        </div>
    </div>

          <div class="col-md-10 col-lg-9 col-sm-12 col-12 media_center">
           <div class="block radio social_radio">
          <input type="radio" name="radiogroup1" id="rd1" checked>
              <label class="form-check-label" for="rd1">  By Instagram</label>
              <input type="radio" name="radiogroup1" id="rd2">
              <label class="form-check-label" for="rd2"> By Email</label>
              <input type="radio" name="radiogroup1"  id="rd3">
              <label class="form-check-label" for="rd3"> By All</label>
          </div>
                    </div>

        <div class="col-md-10 col-lg-9 col-sm-12 col-12">
            <div class="last-submit justify-content-center d-flex">
              <button class="btn go_btn" type="submit"> Go</button>
                </div>
                </div>
                </div>
            </div>

    </div>
        </div>  <!-- container -->
</section>


        </div> <!-- overflow div -->

      <!-- fotter section -->

      <footer class="footer_bg text-left">
    <div class="container">
    <div class="row pb-4">
    <div class="col-12 col-lg-4 col-md-12 col-12"> 
    <p> <a href="index.html">  <img src="images/brand_logo.png" alt="aap Logo"> </a>  </p>
   </div>

    <div class="col-12 col-lg-8 col-md-12 col-12 footer_col2">
    <div class="row jlkj">
    <div class="col-12 col-md-4 col-sm-6 px-md-0">
      <div class="foot-list">  
      <p class="fot-name"><a href="term_n_condition_screen.html" class="listing">Terms and Conditions</a> </p>
    </div>
    </div>

    <div class="col-12 col-md-3 col-sm-6 px-md-0">
    <div class="foot-list">  
      <p class="fot-name"><a href="private_policy_screen.html" class="listing">Privacy Policy</a> </p>       
    </div>
    </div>

    <div class="col-12 col-md-2 col-sm-6 px-md-0"> 
      <div class="foot-list">  
      <p class="fot-name"><a href="term_n_condition_screen.html" class="listing">FAQ</a> </p>
      </div>
      </div>

    <div class="col-12 col-md-2 col-sm-6 px-md-0"> 
      <div class="foot-list">  
      <p class="fot-name"><a href="#" class="listing">Contact</a> </p>
      </div>
    </div>
    </div>
    </div>
  </div>

   <div class="pt-3 pb-2">  
      <div class="container">  
      <div class="row">
      <div class="col-12 p-0">
      <p class="copy_ryt">© 2021 PlaylistCrunch - All Rights Reserved </p>
      </div>
      </div>
      </div>
    </div>
</div>
</footer>

<!--my  js  -->

 <script src="js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.js"></script>

  <!--  -->

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


</body>
</html>