{% extends 'crunch/layout/base.html' %}
{% load static %}
{% block home %}
<div class="overflow-hidden bg_main">

  <section class="main-registration py-5 my-5">
        <div class="container"> 
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-9 col-sm-12 col-12">
  <div class="starting-reg  pt-2">
    {% if fail %}
    <div class="form-row justify-content-center">
      <div class="col-lg-10 col-md-11 col-12 mb-3" style="text-align: center;">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #E5635A;"></i>
        <label for="validationCustom01" style="color: white; text-align: center;">{{ fail }}</label>
      </div>
    </div>
    {% endif %}
   <form class="needs-validation" novalidate="" method="POST">
     {% csrf_token %}
  
   <div class="form-row justify-content-center">
      <div class="col-lg-10 col-md-11 col-12 mb-3">
        <label for="validationCustom02">Password*</label>
        <input type="hidden" class="form-control cust-sel-size" id="validationCustom01" name="tokenKey" value="{{token}}">
        <input type="password" class="form-control cust-sel-size" name="newPassword" id="validationCustom01" value="" required="">
      <div class="invalid-feedback">Please fill out this feild.</div>
    </div>
    </div>
  
   <div class="form-row justify-content-center">
      <div class="col-lg-10 col-md-11 col-12 mb-3">
        <label for="validationCustom03">Confirm Password*</label>
        <input type="password" class="form-control cust-sel-size" name="confnewPassword" id="validationCustom01"  value="" required="">
      <div class="invalid-feedback">Please fill out this feild.</div>
    </div>
    </div>
  
    <div class="form-row form-check justify-content-center d-flex">
  <div class="col-lg-10 col-md-11 col-12">
     <p class="forget text-right"><a href="{% url 'forgot_password' %}" class="f_psw">Forgot Password </a></p>
    </div>
  </div>
  
  
   <div class="form-row justify-content-center d-flex">
        <div class="col-lg-10 col-md-11 col-12 mb-md-3">
          <div class="last-submit justify-content-center d-flex">
    <button class="btn login_btn" type="submit"> Sign In</button>
  </div>
  <p class="login_para justify-content-center d-flex"> New to PlayList Crunch? &nbsp; <span class="login"> <a href="{% url 'signup' %}" class="f_psw">Create an account. </a></span> </p>
  </div>
  </div>
  </form>
  
        </div>
      </div>
    </div>
         </div>
        </section>
  
          </div> <!-- overflow div -->
  
     
{% endblock %}
      
        


