

{% extends 'crunch/layout/base.html' %}
{% load static %}
{% block home %}
<div class="overflow-hidden" id="user_bg">

  <section class="act_system_section py-3 my-3">
      <div class="container"> 
      <div class="row mt-4">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-md-0 act-blog1">
  
           <div class="blog_content1 text-left">
            <h5>Privacy Policy</h5>
  
            <p class="policies_para pb-1"> This Privacy Policy describes the way in which PlaylistCrunch collects, uses and protects any information You provide to Playlistcrunch.com or information about Your use of Playlistcrunch.com (“Personal Information”).
            </p>

            <p class="policies_para pb-1">
            PlaylistCrunch may change this Privacy Policy at any time. The most current version of this policy can be accessed at  https://www.playlistcrunch.com/privacy-policy. By continuing to access or use Spokeo.com, You accept any changes or revisions to this Privacy Policy.
            </p>

            <p class="policies_para pb-1">
            PlaylistCrunch is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

            <h6>What Personal Information PlaylistCrunch Collect?</h6>

            <p class="policies_para pb-1">
            If you purchase our software, we collect your email address, full name, address and credit card information or PayPal information. The payment is processed by a third-party secure server to ensure the safe transmission of the sensitive information. We do not store or have direct access to your payment information at any time.

            </p>

            <p class="policies_para pb-1">
            PlaylistCrunch uses collected information for the following general purposes: products and services provision, billing, customer support, and research.
            </p>

            <p class="policies_para pb-1">
            PlaylistCrunch does not share your email address or other personally identifying information with any third parties, except our service providers, such as credit-card payment processors, performing services on our behalf. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes. The third-party service providers are subject to their respective privacy policies set forth to protect the sensitive information.
            </p>


            <h6>What tracking information does PlaylistCrunch collect?</h6>

            <p class="policies_para pb-1">
            A Cookie is a small file which asks permission to be placed on your computer or mobile device by your web browser. We use Cookies to enhance the performance and functionality of our service but are non-essential to their use. Once you agree, the small file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
            </p>

            <p class="policies_para pb-1">

            We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.
            </p>

            <p class="policies_para pb-1">

            Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
            
            </p>

            <p class="policies_para pb-1">
            PlaylistCrunch also uses third-party vendor re-marketing tracking cookies, including the Google Adwords tracking cookie. This means we will continue to show ads to you across the Internet. As always we respect your privacy and are not collecting any identifiable information through the use of Google’s or any other third-party remarketing system. This allows us to make special offers and continue to market our services to those who have shown interest in our service.
            </p>

            <p class="policies_para pb-1">          
            For Google’s advertising network, you may adjust your advertising preferences by visiting the Ads Preferences Manager.
            </p>

            <p class="policies_para pb-1">

            You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.

            </p>

            <h6>Data Storage</h6>

            <p class="policies_para pb-1">
            PlaylistCrunch takes appropriate physical, electronic, software related and other security measures to help safeguard personal information from unauthorized access, alteration, or disclosure.
            </p>


            
            <h6>When data can be disclosed?</h6>

            <p class="policies_para pb-1">
            We may disclose personally identifiable information under special circumstances in order to comply with valid legal processes. In addition, PlaylistCrunch may disclose certain information to our service providers, such as credit-card payment processors, performing services on our behalf. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes. The third-party service providers are subject to their respective privacy policies set forth to protect the sensitive information.
            </p>

            <h6>API Services</h6>

            <p class="policies_para pb-1">
            PlaylistCrunch uses the third-party API services from which we may retrieve information. In particular, we use Spotify API Services whose privacy policies are available via  https://www.spotify.com/us/legal/end-user-agreement/#6-third-party-applications-and-devices, and other third-party API services. 

            </p>

            <h6>Email contact</h6>

            <p class="policies_para pb-1">
            We will not share your email information with third parties, except our service providers, such as credit-card payment processors or e-mail distribution service providers performing services on our behalf. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes. The third-party service providers are subject to their respective privacy policies set forth to protect the sensitive information.
            </p>

            <p class="policies_para pb-1">
            We may occasionally use the email You provided in the subscription form, to inform you about the important software updates or other relevant information that is important for your user experience. If you do not want to receive e-mail updates from PlaylistCrunch, you may unsubscribe by following the unsubscribe link included in the e-mail                   </p>


            <h6>How to modify or delete your data?</h6>

            <p class="policies_para pb-1">
            If you want to modify your personal data, you can do it in your account settings at any time. Your data will be modified as soon as you make changes in your account settings and in accordance with such changes.
            </p>

            <p class="policies_para pb-1">

            If you want to delete your data permanently, you can contact us with the relevant request at support@playlistcrunch.com. By deleting all your data, which includes your e-mail address, name, and company name, you won’t be able to continue using the software. Please note that after your request we can retain your data as necessary to comply with our legal obligations or resolve disputes. For instance, we can keep your data while you have outstanding debts to us.
            </p>

            <p class="policies_para pb-1">

            If you have further questions regarding our privacy policy, contact us at support@playlistcrunch.com.
            </p>
            <h6>Information Available Through PlaylisCrunch.com search feature</h6>


            <p class="policies_para pb-1">
            PlaylistCrunch collects publicly available information of playlists available on Spotify for the purpose of making it available to individuals and businesses that use PlaylistCrunch services. 
          
            </p>

            <p class="policies_para pb-1">            
            We do not verify and cannot guarantee the accuracy of this Public Information.
            </p>

            <p class="policies_para pb-1">
            The PlaylistCrunch Terms of Use prohibit users of PlaylistCrunch’s products and services from reselling the Public Information disclosed to them through PlaylistCrunch products and services. </p>
            
          </div>
        </div>   
        </div>    
      </div>
      </section>
  
          </div> <!-- overflow div -->
  
      
{% endblock %}
